<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @pizzaria.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @pizzaria.name %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @pizzaria.description %></td>
              </tr>
              <tr>
                <td><strong>Founded:</strong></td>
                <td><%= @pizzaria.founded %></td>
              </tr>
              <tr>
                <td><strong>Owner:</strong></td>
                <td><%= @pizzaria.owner %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @pizzaria.rating %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_pizzaria_review_path(@pizzaria) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @pizzaria.title %></h1>
        <p><%= @pizzaria.description %></p>

        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_pizzaria_review_path(@pizzaria), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_pizzaria_path(@pizzaria) %> |
<%= link_to 'Back', pizzarias_path %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
